body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-size: 1.5rem;
    border-radius: 5%;
    color: rgb(40, 40, 40);
    overflow: auto;
}

div#pagebody {
    font-family: 'Segoe UI', Helvetica, sans-serif;
    width: 98vw;
    height: 100vh;
    min-height: 480px;
    min-width: 640px;
    margin-left: 3px;
    margin-top: 3px;
    text-align: left;
}

.sidenav {
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 3px;
    left: 3px;
    background: #eee;
    overflow-x: hidden;
    border-radius: 6px;
    padding: 5px 0;
}

.sidenav button:hover {
    color: #064579;
}

.main {
    margin-top: 8px;
    margin-left: 303px; /* Same width as the sidebar + left position in px */
    /*font-size: 28px;*/ /* Increased text to enable scrolling */
    padding: 0px;
}

.sidenavLabel {
    font-weight: 400;
    padding-right: 0.5em;
}

.sidenavButton {
    padding-left: 0px;
}

.sidenavFas {
    width: 1.2em;
    text-align: center;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*============================================================
Tooltip
============================================================*/
.sidenavTooltip {
    position: relative;
}

/* Tooltip text */
.sidenavTooltip .tooltiptext {
    font-size: 0.8em;
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 3;
    top: -5px;
    left: 110%;
    margin-left: 1px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.sidenavTooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.sidenavTooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/*============================================================
Header
============================================================*/

.header {
    z-index: 2;
    background: black;
    /*position: fixed;*/
    top: 0;
    left: 0;
    height: auto;
    padding: 8px;
    border-bottom: 1px solid #888;
    width: 100%;
    font-size: 1.3em;
    color: rgb(240,240,240);
}

/*.header, div#main_contents {
    margin: auto;
}*/

.header {
    text-align: center;
    display: flex;
    height: auto;
}

div#main_contents {
    margin: 0px 0px 0px 0px;
}


fieldset {
    border-width: 2px;
    color: rgb(40, 40, 40);
    border-color: silver;
    border-style: groove;
    padding: 3px 5px 3px 5px;
    margin: 0px 5px 5px 5px;
    width: auto;
    height: auto;
    border-radius: 6px;
}

legend, legend.inner {
    color: rgb(40, 40, 40);
    font-size: 1.2em;
    width: 100%;
    border-bottom: none;
    padding: 0 5px 0 5px;
    margin-bottom: 0px;
}

legend {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: contents;
}

legend.inner {
    font-size: 1.1em;
}

div.innerField {
    margin: 0px 5px 0px 5px;
}

div.itemBody {
    padding: 0px 0px 0px 5px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 5px;
}

select#deviceList, select#enrollmentList, select#groupEnrollmentList, input#newDeviceId, input#newModelId {
    width: 98%;
    height: 2.0em;
    padding: 0px 5px 0px 5px;
    margin: 0;
}

div.modal-dialog {
    min-width: 480px;
    max-width: 40vw;
    border-radius: 6px;
    background-color: rgb(242, 242,242);
}

div.modeal-content {
    border: 0;
}

div.modal-header {
    text-align: center;
    font-size: 1.3em;
    color: white;
    background-color: black;
    border-radius: 6px 6px 0px 0px;
    margin: auto;
    align-items: stretch;
    display: flow-root
}

div.model-body {
    text-align: center;
    font-size: 1.0em;
    text-align: left;
}

div.model-footer {
    text-align: center;
}

input#newDeviceId, input#newModelId, .form-control {
    margin-bottom: 10px;
    font-size: 1em;
}

button, label {
    margin: 3px 0px 3px 0px;
    border: 0;
    background-color: transparent;
    color: rgb(80,80,80);
}

button:hover {
    text-decoration: none;
    background-color: rgb(220, 220, 220);
}

button:focus {
    outline: 0;
}

button:disabled:hover,
button:disabled:focus,
button:disabled:hover,
button:disabled {
    color: rgb(220, 220, 220);
    pointer-events: none;
}

td, table {
/*    border: solid;
    border-width: 1px;
    border-color:yellow;*/
}

table {
    border-spacing: 2px;
}

i {
    padding-right: 0.3em;
}

.container {
    display: table;
    width: auto;
    text-align: left;
    margin: 0;
    padding: 0px;
    height: auto;
}

.column {
    display: table-cell;
    width: auto;
    min-height: 2.1em;
    min-width: 320px;
    white-space: nowrap;
}

.row {
    display: table-row;
}

.EventSection {
    display: table;
    width: auto;
    text-align: left;
    margin: 0;
    padding: 0px;
}

.loginLogout {
    /*position: absolute;*/
    top: 6px;
    right: 0;
}

.rightSide {
    /*position: absolute;*/
    top: 0;
    right: 0;
    margin-right: 40px;
}
